.App {
  position: relative;
}

.App-logo {
  height: 23vmin;
  top: 10px;
  right: 10px;
  position: fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: white;
}

.App-link {
  color: black;
  float: left;
  position: fixed;
  left: 1px;
  bottom: 2px;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  text-decoration: 100px solid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10800deg);
  }
}
