html 
    head 
       title WEB
    body 
       div 
          h1 "this is created by PUG file..."   
       ul 
          each val of prod      //--here I have to ask that what is the difference of using val of prod and val in prod question No.1?
             li= val.title