@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf');
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #e11d74;
}

p {
    font-family: 'Oswald', sans-serif;
}
.parent {
  background-color: #fbecec;
  padding: 50px;
  color: #440047;
}

h2 {
  color: #e11d74;
}
